<div class="row">
<%= form_for(listing) do |f| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="input-field col">
      <%= f.text_area :title, id: "textarea1", class: "materialize-textarea" %>
      <label for="textarea1">Give it a title</label>
    </div>
  </div>
  
  
  <div class="row">
      <div class="row">
        <div class="input-field col s6">
          <%= f.text_area :desc, id: "textarea1", class: "materialize-textarea" %>
          <label for="textarea1">Description</label>
        </div>
      </div>
  </div>
  
  <div class="row">
    <div class="input-field col s6">
      <div class="actions">
        <%= f.submit "Create", class:"waves-effect waves-light btn"%>
      </div>
    </div>
  </div>
<% end %>
</div>
