<h1><%= current_user.first_name %>'s profile</h1>

<%= form_for(@applicantprofile) do |f| %>
    
    <!--profile picture-->
    <div class="row">
    <div class="input-field col">
      profile pic: <%= f.file_field :profile_pic, id: "textarea1", class: "materialize-textarea" %>
    </div>
    </div>
    
    <!--write a bio-->
    <div class="row">
    <div class="input-field col">
      <label for="textarea1">About yourself</label>
      <%= f.text_area :bio, id: "textarea1", class: "materialize-textarea" %>
    </div>
    </div>

    <!--submit button -->
    <div class="row">
    <div class="input-field col s6">
      <div class="actions">
        <%= f.submit "Create", class:"waves-effect waves-light btn"%>
      </div>
    </div>
    </div>
    
<% end %>